<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotpot.mapper.IUserMapper">
	<resultMap type="User" id="UserList">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="birthday" property="birthday" />
		<result column="address" property="address" />
	</resultMap>

	<select id="queryAllUser" resultMap="UserList">
		SELECT * FROM user
	</select>

	<delete id="deleteUser" parameterType="int">
		DELETE FROM user WHERE id
		= #{id}
	</delete>
</mapper>