<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hotpot.dao.OfferInfoMapper" >
  <resultMap id="BaseResultMap" type="com.hotpot.entity.OfferInfo" >
    <id column="offer_id" property="offerId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="creator_id" property="creatorId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="trust_number" property="trustNumber" jdbcType="INTEGER" />
    <result column="heat" property="heat" jdbcType="INTEGER" />
    <result column="comments_number" property="commentsNumber" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    offer_id, title, creator_id, create_time, content, trust_number, heat, comments_number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from offer_info
    where offer_id = #{offerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from offer_info
    where offer_id = #{offerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hotpot.entity.OfferInfo" >
    insert into offer_info (offer_id, title, creator_id, 
      create_time, content, trust_number, 
      heat, comments_number)
    values (#{offerId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{creatorId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{trustNumber,jdbcType=INTEGER}, 
      #{heat,jdbcType=INTEGER}, #{commentsNumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hotpot.entity.OfferInfo" >
    insert into offer_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="offerId != null" >
        offer_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="trustNumber != null" >
        trust_number,
      </if>
      <if test="heat != null" >
        heat,
      </if>
      <if test="commentsNumber != null" >
        comments_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="offerId != null" >
        #{offerId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="trustNumber != null" >
        #{trustNumber,jdbcType=INTEGER},
      </if>
      <if test="heat != null" >
        #{heat,jdbcType=INTEGER},
      </if>
      <if test="commentsNumber != null" >
        #{commentsNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hotpot.entity.OfferInfo" >
    update offer_info
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="creatorId != null" >
        creator_id = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="trustNumber != null" >
        trust_number = #{trustNumber,jdbcType=INTEGER},
      </if>
      <if test="heat != null" >
        heat = #{heat,jdbcType=INTEGER},
      </if>
      <if test="commentsNumber != null" >
        comments_number = #{commentsNumber,jdbcType=INTEGER},
      </if>
    </set>
    where offer_id = #{offerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hotpot.entity.OfferInfo" >
    update offer_info
    set title = #{title,jdbcType=VARCHAR},
      creator_id = #{creatorId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      trust_number = #{trustNumber,jdbcType=INTEGER},
      heat = #{heat,jdbcType=INTEGER},
      comments_number = #{commentsNumber,jdbcType=INTEGER}
    where offer_id = #{offerId,jdbcType=INTEGER}
  </update>
</mapper>